.env
__pycache__/


                <label for="bg-mode", id="leave-channel-txt">Leave Channel</label>
                <select name="channel-select" id="leave-channel">
                    {% for channels in channel %}
                    <option value="1">{{channels['name']}}</option>
                    {% endfor %}
                </select>