@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,100&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #2c3e50;
    
}

nav{ 
    background: #0082e6;
    height: 80px;
    width: 100%;
}
label.Logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 30px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
.user-img{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    border-radius: 40px;
    height: 50%;
    width: 30%;
    position: relative;
    top: 15px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}
ol li{
    float: left;
    margin-right: 30px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    border-radius: 50px;
    border: 3px solid #0082e6;
    top: 15%;
    position: absolute;
    left: 30%;
}
.logo p{
    position: absolute;
    top: 20%;
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;

}


.temp-box{
    padding: 10px;
    text-align: center;
    border-radius: 40px;
    padding: 50px;
    margin: 20px;
    color: whitesmoke;

}
.temp-box a{
    color: rgb(235, 232, 232);
    text-decoration: none;
}
.temp-box img{
    border-radius: 20px;
}
.header {
  padding: 200px;
  text-align: center;
  background: #2c3e50;
  color: white;
  font-size: 30px;
}
h4{
    color: white;
    padding: 20px;
}
.guilds{
    display: flex;
    align-items: center;
    justify-content: center;

}
.guilds ol{
    position: absolute;
    top: 45%;
    background: #212325b9;
    border-radius: 30px;

}
.server-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.server-name{
    position: absolute;
    top: 35%;
    background: #212325b9;
    color: white;
    font-size: 35px;
    line-height: 60px;
    padding: 0 70px;
    font-weight: bold;
    border-radius: 10px;
    
}
/* css responsive */
