<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Jarvis-bot</title>
</head>
<body>
    <nav>
        <label class="Logo">Jarvis-bot</label>
        <ul>
            <li><a href="https://jarvis-bot.netlify.app/cmd.htm">Commands</a></li>
            <li><a href="https://jarvis-bot.netlify.app/policy.htm">Policy</a></li>
            <li><a href="#">Dashboard</a></li>
        </ul>
    </nav>
    <div class="header">
        <h1>Jarvis</h1>
        <br>
        <p>The Advanced Discord Bot</p>
        <br>
        <a href="https://discord.com/api/oauth2/authorize?client_id=817419214679703612&redirect_uri=http%3A%2F%2F127.0.0.1%3A5000%2Foauth%2Fdiscord&response_type=code&scope=identify%20guilds"><button>Login To Dashboard</button></a>
      </div>
</body>
</html>